
/* header   */
header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: #ffffff;    

}
.headerImg{
    width:153px ;
    height: 51px;
    cursor: pointer;

}
.headerLogin{
    display: flex;
    border: 1px solid #3692FF;
    border-radius: 10px;
    width: 128px;
    height: 48px;
    background-color: #3692FF;
    color:white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

/*   home_top    */
.home_top{
    height: 540px;
    background-color: #CFE5FF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.home_topText{
  font-size: 32px;
   font-weight: 700;
   padding-top: 2em;
   display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
     line-height: 1.5;
}
.home_topButton{
    display: flex;  
     border: 1px solid #3692FF;
    border-radius: 50px;
    background-color: #3692FF;
    color:white;
    text-decoration: none;
    cursor: pointer;
    width: 240px;
    height: 48px;
     justify-content: center;
    align-items: center;  
    font-size: 20px;
    margin-top: 30px;
  
}
.br{
      display: none;
}
.home_topImage{
    width: 448px;
    height: 204px;
    margin-top: auto;
    
}
/*    hot_item      */

.hot_item{
    display: flex;
     flex-direction: column;
    padding-top: 50px;
   align-items: center;

    
}
.hot_itemImg{
    width:344px;
    height:259px;
}
.hot_itemText{
    padding-top: 30px;
    align-self: flex-start;
     line-height: 1.5;

    
}
/*    home_search    */
.home_search{
    display: flex;
      flex-direction: column;
     justify-content: center;
      padding-top: 50px;
        align-items: center;
}
.contentInner{
    display: flex;
    flex-direction: column;
}
.home_searchImg{
     order:1;
     width:344px;
    height:259px;
}
.home_searchText{
    order:2;
     padding-top: 30px;
   line-height: 1.5;
    display: flex;
    flex-direction: column;
   
    align-items: flex-end;
     align-self: flex-end;
    text-align: end;
}
/*    home_register     */
.home_register{

    display: flex;
     flex-direction: column;
     justify-content: center;
       padding-top: 50px;
      padding-bottom: 50px;
      align-items: center;
}
.home_registerImg{
    width:344px;
    height:259px;
}
.home_registerText{
     padding-top: 30px;
    align-self: flex-start;
     line-height: 1.5;
   
    
}

/*    home_bottom */
.home_bottom{
    display: flex;
     flex-direction: column;
    background-color: #CFE5FF;
     align-items: center;
     height: 540px;
     margin-top: 60px;
     
}
.home_bottomImg{
    height:198px;
    width: 375px;
    display: flex;
    margin-top: auto;
}
.home_bottomText{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 3em;
     line-height: 1.5;
}
/*  footer   */
footer {
  background: #111827;
  height: 160px;
 
}
.footer{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}
.footerGroup{
    order:1;
      display: flex;
      
}
.footer-link{
    display: flex;
    margin-left: 20%;
    gap:20%;
}
.footer-copyright{
  order: 2;
   color: #9CA3AF;
    font-size: 16px;
    font-weight: 400;
  margin-left: 10%;
  margin-top: 4em;
;
}
.footer-nav{
    display: flex;
     margin-left: 10%;
     gap:30%;
     white-space: nowrap;
}
.footer-nav a{
     color: #E5E7EB;
     text-decoration: none;
     font-size: 16px;
    font-weight: 400;
}
/*  span */
span{
    color:#3692FF ;
}
.title-content{
 font-size: 24px;
 font-weight: 700;
 padding-top: 10px;
}
.description-content{
 font-size: 16px;
 font-weight: 500;
 padding-top: 20px;
}