body {
  display: flex;
  justify-content: center;
}
.entireBox {
  padding-top: 80px;
}
.imgBox {
  display: flex;
  justify-content: center;
}
.mainImg {
  width: 396px;
  height: 132px;
}
.itemText {
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
}
.itemInput {
  width: 640px;
  height: 56px;
  background-color: #f3f4f6;
  border-radius: 10px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.signupButton {
  width: 640px;
  height: 56px;
  background-color: #3692ff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.signupLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.loginPrompt {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.loginLink {
}

/*   easylogin      */
.easyLogin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #e6f2ff;
  margin-top: 16px;
  height: 74px;
}
.easyLoginText {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5%;
}
.easyLoginIcon {
  margin-right: 5%;
  display: flex;
  gap: 20%;
}
.easyLoginGoogle {
  background-color: #f9fafb;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.easyLoginKakao {
  background-color: #f5e14b;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.easyLoginGoogleImg {
  width: 22px;
  height: 22px;
}
.easyLoginKakaoImg {
  width: 26px;
  height: 24px;
}
/*    error    */
.errorMsg {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.inputError {
  border: 1px solid red;
}
.disabled {
  background-color: #9bbcff;
  pointer-events: none;
  opacity: 0.6;
}